*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}


body,html {
  width: 100%;
  height: 100%;
  overflow: hidden
}

body{
  background-color: #BFB8B8;
  font-family: Trebuchet MS, Helvetica;
}

header{
  position: relative;
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
  height: 110px;
  background-color: #2E2C2C;
  top: 0;
}

header #logo {
  color: #fff;
  cursor: pointer;
}

header #logo span {
  font-size: 1.8em;
  line-height: 45px;
  margin-left: 40px;
}
.container {
  position: absolute;
  left: 60%;
  
  transform: translate(-50%, -50%);
  background: #726768;
  border-radius: 5px;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.8);
}
.container .text {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  padding: 25px 30px;
  cursor: pointer;
}
.container .text::before, .container .text::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #2980b9;
  transform-origin: right;
  transition: transform 400ms ease;
  z-index: -1;
  transform: scaleX(0);
}
.container .text:hover::before, .container .text:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.container .text::after {
  z-index: -2;
  filter: blur(30px);
}
.container.container--1 {
  top: 10%;
  display: flex;
}
.container.container--2 {
  top: 30%;
  display: flex;
}
.container.container--2 .text::before, .container.container--2 .text::after {
  transform: scaleY(0);
  transform-origin: bottom;
}
.container.container--2 .text:hover::before, .container.container--2 .text:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}
.container.container--3 {
  top: 60%;
  left: 0;
  margin-left: 130px

}
.container.container--3 .text {
  padding: 25px 60px;
}
.container.container--3 .text::before, .container.container--3 .text::after {
  transform: scaleY(0);
  transform-origin: bottom;
}
.container.container--3 .text:hover::before, .container.container--3 .text:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.5rem;
  transition: all 400ms ease;
}
a:hover {
  color: #fff;
}

#map {
  height: 500px;
  
  width: 100%;
  
}

#btn {
  font-size: 1em;
  line-height: 0px;
  margin-left: 1235px;
  margin-top: -50px;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  margin-right: 0px;
  margin-left: 0px: 
  
} 

.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

.button{
  position: absolute;
  width: 87px;
  height: 36px;

  background: #C4C4C4;
  border-radius: 20px;
}
 
.mappos {
    position : absolute;
    top: 0;
    bottom: 0;
  
}

.line{
  position: absolute;
  width: 100%;
  height: 5px;
  margin-top: 110px;

  background: #F5EEEE;
  transform: matrix(1, 0, 0, -1, 0, 0);
}


.span{
  text-decoration: none;
}




.spisok{
  margin-top: 157px
}

.nav_1 {
    height: 51px;
    position: absolute;
    width: 190px; 
    right: 0;
    bottom:0;
}
.ad {
  position: absolute;
  left: -110%;
  bottom:0;
  height: 652px;
  width: 400px ;
}

.nav a {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px
}

/*a:hover {
    color: #A69F9F; 
    text-decoration: underline; */*/
}

.nav_1 a {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px
}

h2{
  color: white;

}

