<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Проверка</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header>
      <div id="logo">
        <span>Some cool name</span>
      </div>
      <div id="btn">
        <a href="/login" class="floating-button">Login</a>
        <a href="/register" class="floating-button">Register</a>
      </div>
    </header>

    <div class="nav">
      <a href="#">Фильтр</a>
      <a href="#">Категории</a>
      <a href="#">Работы неподалеку</a>
      <a href="#">О нас</a>
    </div>
    <div class="nav_1"></div>

    <footer>ABOBUS</footer>
  </body>
</html>
